.blog{
    border: 5px solid hsla(0, 100%, 50%, 0.24);
    margin: 3%;
    padding: 40px 40px;
    width: 21%;
    float: left;
}
h2{
    text-align: center;
}
.a{
    font-weight: 400;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}